/* ROOT COLORS */

/* DARK - ORANGE */

:root {
    --backgroundMain: #14121B;
    --backgroundSecond: #181621;
    --colorMain: #00ea3d;
    --circleColor: #FFFFFF26;
    --colorText: #949494;
    --colorDefault: #fff;
    --colortitle:#00ea3d;
}

  
  


